body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

#root {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 24px;
    color: #2C3E50;
    text-align: center;
}

/* Buttons and Inputs */
button,
input[type="text"],
textarea {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 8px 0;
    display: block;
    width: 100%;
    transition: all 0.3s ease;
}

button.primary {
    background-color: #3498DB;
    color: white;
}

button.delete {
    background-color: #E74C3C;
    color: white;
}

button:hover {
    filter: brightness(90%);
}

input[type="text"],
textarea {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #34495e;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #3498DB;
    background-color: #fff;
}

button,
input[type="text"],
textarea {
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design */
@media (max-width: 768px) {
    #root {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}



.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

.form-group input,
.form-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-body {
    padding: 20px;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-button {
    padding: 8px 15px;
    background-color: #466b10;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-right: 8px;
}

.edit-button:hover {
    background-color: #439a7d;
}

.delete-button {
    padding: 8px 15px;
    background-color: #988455;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #695030;
}